# Agent Configuration
GEMINI_MODEL=gemini-2.0-flash

# Google Cloud Configuration
GOOGLE_GENAI_USE_VERTEXAI=FALSE     # TRUE for deployement with Vertex AI, FALSE for AI Studio local dev and testing
GOOGLE_API_KEY=your_api_key_here    # AI Studio API key for local dev and testing
GOOGLE_CLOUD_PROJECT=your-project-id    # Required for deployement with Vertex AI
GOOGLE_CLOUD_LOCATION=us-central1       # Required for deployement with Vertex AI

# ADK Configuration
# ADK_LOG_LEVEL=INFO
