# Google Cloud Configuration
GOOGLE_GENAI_USE_VERTEXAI=FALSE     # TRUE for deployement with Vertex AI, FALSE for AI Studio local dev and testing
GOOGLE_API_KEY=your_api_key_here    # AI Studio API key for local dev and testing
GOOGLE_CLOUD_PROJECT=your-project-id    # Required for deployement with Vertex AI
GOOGLE_CLOUD_LOCATION=us-central1       # Required for deployement with Vertex AI
GCS_BUCKET_NAME=evento-media-xxx

# ADK Configuration
# ADK_LOG_LEVEL=INFO

# Application Configuration
AGENT_APP_NAME=evento

# Firebase settings
FIREBASE_PROJECT_ID=xxx

# Session settings
RUNTIME_ENV=local
FIREBASE_API_KEY=your_firebase_web_api_key
LIVE_API_ENABLED=false
